.desktop-17-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-mistyrose);
    width: 1440px;
    height: 90px;
  }
  .heading-3,
  .heading-31,
  .heading-32 {
    position: absolute;
    top: 574px;
    left: 215px;
    font-size: var(--font-size-2xl);
    line-height: 26.4px;
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-darkslategray-100);
    text-align: left;
    display: flex;
    align-items: center;
    width: 173px;
    height: 57px;
  }
  .heading-31,
  .heading-32 {
    top: 1445px;
    font-size: var(--font-size-3xl);
    width: 364px;
    height: 55px;
  }
  .heading-32 {
    top: 1959px;
    left: 200px;
    font-size: var(--font-size-2xl);
    color: var(--color-darkslategray-200);
    width: 246px;
    height: 39px;
  }
  .desktop-17-item {
    position: absolute;
    top: 2577px;
    left: 0;
    background-color: var(--color-black);
    width: 1440px;
    height: 423px;
  }
  .link-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 495px;
    height: 285px;
    object-fit: cover;
  }
  .nrityotsav {
    position: absolute;
    top: 292px;
    left: 120px;
    text-transform: uppercase;
  }
  .item,
  .link-icon1 {
    position: absolute;
    width: 495px;
  }
  .item {
    top: 1524px;
    left: 198px;
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    box-shadow: 0 0 8px -3px #000;
    height: 351px;
    overflow: hidden;
    font-size: var(--font-size-21xl);
    font-family: var(--font-inika);
  }
  .link-icon1 {
    top: 0;
    left: 0;
    height: 285.14px;
    object-fit: cover;
  }
  .trance-nation {
    position: absolute;
    top: 285px;
    left: 84px;
    text-transform: uppercase;
  }
  .item1 {
    position: absolute;
    top: 2082px;
    left: 198px;
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    box-shadow: 0 0 8px -3px #000;
    width: 495px;
    height: 351px;
    overflow: hidden;
    font-size: var(--font-size-21xl);
    font-family: var(--font-inika);
  }
  .experience-an-unforgettable {
    margin: 0;
  }
  .doors-open-800 {
    margin-bottom: 0;
  }
  .doors-open-800-pm {
    margin: 0;
    padding-left: var(--padding-24xl);
  }
  .experience-an-unforgettable-container1 {
    line-break: anywhere;
    width: 100%;
  }
  .experience-an-unforgettable-container {
    position: absolute;
    top: 631px;
    left: 91px;
    font-size: var(--font-inherit);
    letter-spacing: 0.5px;
    line-height: 22.86px;
    font-family: var(--font-inherit);
    display: flex;
    align-items: center;
    width: 1282px;
    height: 667px;
  }
  .divcol-sm-12-icon {
    position: absolute;
    width: calc(100% - 753px);
    top: 150px;
    right: 404px;
    left: 349px;
    max-width: 100%;
    overflow: hidden;
    height: 365px;
    object-fit: cover;
  }
  .home {
    position: relative;
    letter-spacing: 0.5px;
    line-height: 22.86px;
  }
  .create-wrapper,
  .events-wrapper,
  .home-wrapper,
  .log-in-wrapper {
    position: absolute;
    top: 24px;
    left: 823px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: center;
  }
  .create-wrapper,
  .events-wrapper,
  .log-in-wrapper {
    left: 960px;
  }
  .create-wrapper,
  .log-in-wrapper {
    left: 1113px;
  }
  .create-wrapper {
    left: 1259px;
    background-color: var(--color-gold);
    border: 2px solid var(--color-black);
  }
  .photo-1688045632637-2-icon {
    position: absolute;
    top: 4px;
    left: 13px;
    width: 202px;
    height: 86px;
    object-fit: cover;
  }
  .also-support-wrapper {
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  .instagram-3955024-2-icon {
    position: relative;
    border-radius: var(--br-51xl);
    width: 70px;
    height: 74.93px;
    object-fit: cover;
    z-index: 1;
  }
  .facebook-5968764-2-icon,
  .youtube-3670147-2-icon {
    position: relative;
    width: 70px;
    height: 70px;
    object-fit: cover;
    z-index: 2;
  }
  .youtube-3670147-2-icon {
    position: absolute;
    margin: 0 !important;
    top: 65px;
    left: 180px;
    border-radius: var(--br-52xl);
    width: 76.23px;
    z-index: 3;
  }
  .frame-parent {
    position: absolute;
    top: 2660px;
    left: 1098px;
    width: 256px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 20px;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-hannari);
  }
  .category {
    position: relative;
    font-size: var(--font-size-13xl);
    letter-spacing: 0.5px;
    line-height: 22.86px;
  }
  .events-frame {
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: center;
    margin-left: -40px;
  }
  .category-parent {
    position: absolute;
    top: 2666px;
    left: 547px;
    width: 122px;
    height: 203px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-hannari);
  }
  .book-tickets {
    position: relative;
    text-transform: uppercase;
  }
  .book-tickets-wrapper {
    position: absolute;
    top: 1298px;
    left: 649px;
    border-radius: var(--br-2xl);
    background-color: var(--color-red);
    border: 1px solid var(--color-black);
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xl);
    font-family: var(--font-inter);
  }
  .desktop-17-inner {
    position: absolute;
    top: 2652px;
    left: 102px;
    width: 389px;
    height: 267px;
    object-fit: cover;
  }
  .desktop-17 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 3000px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-hermeneus-one);
  }